body{
    background: black;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    
    height: 100vh;
}


main{
    background-color: rgba(255, 255, 255, 0.712);
    width: 90vw;
    height: auto;
    border-radius: 10px;
    margin: 40px ;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 0px black;
}



img{
    display: block;
    margin: auto;
} /* esses dois codigo faz com que a img fica ao centro*/

.cel{
    display: block;
}

.tablet{
    display: block;
}

.print{
    display: block;
}

.TV{
    display: block;
}

.pc{
    display: block;
}



